.nested-fields-container
  = form.label :liste_des_chambres
  = form.fields_for :items do |item|
    .panel-body
      .row
        = item.object.room.name
        = link_to 'Retirer la chambre', item_reservations_admin_path(item.object.reservation, item_id: item.object.id), method: :delete
        %table{class: 'table'}
          %thead
            %tr
              %th nom
              %th nuitées
              %th tarif
              %th sous-total
          %tbody
            - item.object.item_users.each do |iu|
              %tr
                %td= iu.user.full_name
                %td= iu.nights
                %td= "#{iu.pricing.name}: #{iu.pricing.price_cents / 100.0} €"
                %td= iu.price
                %td= link_to 'remove', user_reservations_admin_path(item.object.reservation, user_id: iu.id), method: :delete

    = render 'item_fields', f: item

  .nested-field-links
    = link_to_add_association 'Ajouter un chambre', form, :items, class: "btn btn-success"
