.nested-fields-container
  = form.fields_for :items do |item|
    .panel-body
      .row
        = item.object.room.name
        %table{class: 'table'}
          %thead{class: 'thead-dark'}
            %tr
              %th{scope: 'col'} nom
              %th{scope: 'col'} arrivée
              %th{scope: 'col'} départ
              %th{scope: 'col'} nuits
              %th{scope: 'col'} tarif
              %th{scope: 'col'} sous-total
          %tbody
            - item.object.item_users.each do |iu|
              %tr
                %td{scope: 'row'}= iu.user.full_name
                %td= iu.start
                %td= iu.stop
                %td= iu.nights
                %td= "#{iu.pricing.name}: #{iu.pricing.price_cents / 100.0} €"
                %td= iu.price
.nested-fields-container
  .panel-body
    .row
      %table{class: 'table'}
        %thead{class: 'thead-dark'}
          %tr
            %th{scope: 'col'} Saison
            %th{scope: 'col'} Réduction
            %th{scope: 'col'} Début
            %th{scope: 'col'} Fin
            %th{scope: 'col'} Nombre de participants
            %th{scope: 'col'} Nombre de nuits
            %th{scope: 'col'} Prix total
        %tbody
          %tr
            %td= reservation.modifier.name
            %td= reservation.modifier.percent
            %td= reservation.start
            %td= reservation.stop
            %td= reservation.people_count
            %td= reservation.night_count
            %td= reservation.total_price
