= month_calendar(attribute: :start, end_attribute: :last_night_day, events: @reservations) do |date, reservations|
  = date.day
  %br
  - reservations.each do |reservation|
    = link_to edit_reservations_admin_path(reservation) do
      %span{class: "label label-#{reservation.btn_class}", style: "font-size: 11px", 'data-container' => 'body', 'data-trigger' => 'hover', 'data-placement' => 'bottom', 'data-title' => "Titulaire: #{reservation.full_name} #{reservation.status_label} prix: #{reservation.total_price} €",'data-html' => 'true', 'data-content' => "#{reservation.participants(date)}"  }= reservation.occupancy(date)
  %br
  - occupancy = reservations.map { |reservation| reservation.occupancy(date) }.reduce(:+)
  - if occupancy
    - percent = (occupancy / @capacity.to_f * 100).round.to_s
    %br
    .progress
      .progress-bar{"role" => 'progressbar', "aria-valuenow" => percent, "aria-valuemin" => '0', "aria-valuemax" => '30', 'style' => "width: #{percent}%;" }
        = percent + '%'

:javascript
  $(function () {
    $('[data-trigger="hover"]').popover({ trigger: "hover" })
  })

:css
  .popover {
      max-width: none;
  }
  .panel {
    height: 140px;
  }
